__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv/
venv/
ENV/
env/

certs/*
!certs/.gitkeep

user_data/*
!user_data/.gitkeep
!user_data/user_info.json

received/*
!received/.gitkeep

client
server
*.o

.DS_Store
.vscode/
.idea/

*.log
.gitmodules
